<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
    <title>title</title>
  </head>
  <body>
    <header>
    <img src="https://i.vimeocdn.com/video/630337593-0a66884756eb2bd72d4ac7dc1593c16b67ee4449875f535fdda29f40be77578f-d_640?f=webp" alt="">
    </header>  
    